/*************** Start Color Palet **************/
.th__theme-primary-color {
    color: var(--th__theme-primary-color);
}

.th__theme-secondary-color {
    color: var(--th__theme-secondary-color);
}

.th__slate-gray {
    color: var(--th__theme-slate-gray);
}

.th__abyss-black {
    color: var(--th__theme-abyss-black);
}

.th__misty-sliver-blue {
    color: var(--th__theme-misty-sliver-blue);
}

.th__light-orange {
    color: var(--th__theme-light-orange);
}

.th__varpire-black {
    color: var(--th__theme-varpire-black);
}

.th__eerie-black {
    color: var(--th__theme-eerie-black);
}

.th__foggy-slate {
    color: var(--th__theme-foggy-slate);
}

.th__primary-color {
    color: var(--th__primary-color);
}

.th__secondary-color {
    color: var(--th__secondary-color);
}

.th__lavender-gray {
    color: var(--th__theme-lavender-gray);
}

.th__light-gray {
    color: var(--th__theme-light-gray);
}

.th__theme-primary-color-bg {
    background-color: var(--th__theme-primary-color);
}

.th__theme-secondary-color-bg {
    background-color: var(--th__theme-secondary-color);
}

.th__slate-gray-bg {
    background-color: var(--th__theme-slate-gray);
}

.th__abyss-black-bg {
    background-color: var(--th__theme-abyss-black);
}

.th__misty-sliver-blue-bg {
    background-color: var(--th__theme-misty-sliver-blue);
}

.th__light-orange-bg {
    background-color: var(--th__theme-light-orange);
}

.th__varpire-black-bg {
    background-color: var(--th__theme-varpire-black);
}

.th__eerie-black-bg {
    background-color: var(--th__theme-eerie-black);
}

.th__foggy-slate-bg {
    background-color: var(--th__theme-foggy-slate);
}

.th__primary-color-bg {
    background-color: var(--th__primary-color);
}

.th__secondary-color-bg {
    background-color: var(--th__secondary-color);
}

.th__lavender-gray-bg {
    background-color: var(--th__theme-lavender-gray);
}

.th__light-gray-bg {
    background-color: var(--th__theme-light-gray);
}

.th__theme-section-color-bg {
    background-color: var(--th__theme-section-bg);
}

.th__transparent-bg {
    background-color: transparent;
}

/*************** Start Color Palet **************/