<!-- Start About Area -->
<section class="ulv__about-area position-relative ulv__space-bottom" data-background="assets/images/bg/about-bg.png">
    <span class="ulv__about-shape position-absolute"><img src="assets/images/shape/about-1.png" alt="UnlockLive"></span>
    <div class="ulv__container">
        <div class="ulv__about-wrapper">
            <div class="ulv__img-content">
                <div class="ulv__img1" data-cue="zoomIn">
                    <img src="assets/images/about/1.png" alt="UnlockLive">
                </div>
                <div class="ulv__img2" data-cue="zoomOut">
                    <img src="assets/images/about/2.png" alt="UnlockLive">
                </div>
            </div>
            <div class="ulv__text-content">
                <div class="ulv__title-wrap">
                    <div class="ulv__sub-title-wrap">
                        <p class="ulv__sub-title text-uppercase text-anim2" data-cue="slideInLeft">about me</p>
                    </div>
                    <div class="ulv__main-title-wrap ulv__title-width">
                        <h3 class="ulv__title text-capitalize text-anim" data-cue="slideInRight">mark Jackson music Litten</h3>
                    </div>
                </div>
                <div class="ulv__about-bottom-content">
                    <p class="ulv__about-pera-content ulv__pera-content" data-cue="slideInUp">photo a visionary creative designer, known for my music abit turn concepts into captivating visual narrtives. My deep time passion  world of was design allows me.</p>
                    <div class="ulv__checklist-style1">
                        <h5 class="ulv__checklist-title text-uppercase" data-cue="slideInLeft">Analysis</h5>
                        <ul data-cue="bounceInUp">
                            <li>
                                <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                <span>visionary creative designer</span>
                            </li>
                            <li>
                                <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                <span>web and mobile design</span>
                            </li>
                            <li>
                                <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                <span>unlimited design</span>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="ulv__primary-btn text-uppercase position-relative" data-cue="flipInX">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                </div>
            </div>
        </div>

        <!-- Start Counter Area -->
        @@include("counter.html")
        <!-- End Counter Area -->
    </div>
</section>
<!-- End About Area -->