<div class="ulv__brand-logo">
    <span class="ulv__brand-logo-shape1 position-absolute">
        <img src="assets/images/shape/pricing-2.png" alt="UnlockLive">
    </span>
    <div class="ulv__container2">
        <div class="ulv__brand-logo-wrapper">
            <div class="ulv__brand-text-content">
                <p class="ulv__brand-marketing-text text-uppercase text-anim2" data-cue="slideInRight">WORKED WITH GLOBAL LARGEST BRANDS</p>
            </div>
            <div class="ulv__brand-logo-item">
                <div class="ulv__logo" data-cue="zoomOut">
                    <a href="#">
                        <img src="assets/images/brand/1.svg" alt="UnlockLive">
                    </a>
                </div>
                <div class="ulv__logo" data-cue="zoomOut">
                    <a href="#">
                        <img src="assets/images/brand/2.svg" alt="UnlockLive">
                    </a>
                </div>
                <div class="ulv__logo" data-cue="zoomOut">
                    <a href="#">
                        <img src="assets/images/brand/3.svg" alt="UnlockLive">
                    </a>
                </div>
                <div class="ulv__logo" data-cue="zoomOut">
                    <a href="#">
                        <img src="assets/images/brand/4.svg" alt="UnlockLive">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>