<!-- Start Counter Area -->
<div class="ulv__counter-area">
    <div class="ulv__counter-wrapper">
        <div class="ulv__counter-item" data-cue="slideInUp">
            <h3 class="ulv__counter-number"><span class="ulv__counter">12</span>+</h3>
            <p class="ulv__counter-content">year of experience</p>
        </div>
        <div class="ulv__counter-item" data-cue="slideInUp">
            <span class="ulv__counter-shape-1"></span>
            <h3 class="ulv__counter-number"><span class="ulv__counter">3</span>K+</h3>
            <p class="ulv__counter-content">Happy Clients</p>
        </div>
        <div class="ulv__counter-item" data-cue="slideInUp">
            <h3 class="ulv__counter-number"><span class="ulv__counter">450</span>+</h3>
            <p class="ulv__counter-content">project completed</p>
        </div>
        <div class="ulv__counter-item" data-cue="slideInUp">
            <h3 class="ulv__counter-number"><span class="ulv__counter">95</span>%</h3>
            <p class="ulv__counter-content">Clients Satisfaction</p>
        </div>
    </div>
</div>
<!-- End Counter Area -->