        <div class="faq-item active" data-faq="1" data-cue="slideInDown">
            <div class="faq-header">
                <h3 class="faq-title">UI/UX Mobile Template</h3>
                <i class="fas fa-chevron-down faq-icon"></i>
            </div>
            <div class="faq-content active">
                <p class="faq-subtitle">Complete Website Management System.</p>
                <div class="faq-bullet">
                    <ul>
                        <li>
                            <i class="fas fa-circle faq-bullet-point"></i>
                            <span>Cranfld University, UK designer, know concepts into thats lorem Ipsum available. ultimate control over your website's</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="faq-item" data-faq="2" data-cue="slideInDown">
            <div class="faq-header">
                <h3 class="faq-title">Best-In-Class Graphics</h3>
                <i class="fas fa-chevron-up faq-icon"></i>
            </div>
            <div class="faq-content">
                <p class="faq-subtitle">Complete Website Management System.</p>
                <div class="faq-bullet">
                    <ul>
                        <li>
                            <i class="fas fa-circle faq-bullet-point"></i>
                            <span>Cranfld University, UK designer, know concepts into thats lorem Ipsum available. ultimate control over your website's</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="faq-item" data-faq="3" data-cue="slideInDown">
            <div class="faq-header">
                <h3 class="faq-title">Ultimate Control Site</h3>
                <i class="fas fa-chevron-up faq-icon"></i>
            </div>
            <div class="faq-content">
                <p class="faq-subtitle">Complete Website Management System.</p>
                <div class="faq-bullet">
                    <ul>
                        <li>
                            <i class="fas fa-circle faq-bullet-point"></i>
                            <span>Cranfld University, UK designer, know concepts into thats lorem Ipsum available. ultimate control over your website's</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>