<!-- Start Faq Area -->
<section class="ulv__faq-area position-relative ulv__space">
    <span class="ulv__faq-shape2 position-absolute"><img src="assets/images/shape/faq-1.png" alt="UnlockLive"></span>
    <div class="ulv__container4">
        <div class="ulv__faq-wrapper position-relative">
                <span class="ulv__faq-shape1 position-absolute">Mobile Apps Development</span>
                <div class="ulv__faq-img overflow-hidden toptobottom-img-wrap">
                    <img src="assets/images/faq/1.png" alt="UnlockLive" class="toptobottom-img-animation">
                </div>
                <div class="ulv__faq-card-wrap">
                    <div class="ulv__title-wrap ulv__faq-title-wrap">
                        <div class="ulv__sub-title-wrap">
                            <p class="ulv__sub-title text-uppercase text-anim2" data-cue="slideInLeft">Check FAQ</p>
                        </div>
                        <div class="ulv__main-title-wrap ulv__title-width">
                            <h3 class="ulv__title text-uppercase text-anim" data-cue="slideInRight">frequently <span>asked</span> questions.</h3>
                        </div>
                    </div>
                    <div class="ulv__faq-card-item">
                        @@include("faq-card.html")
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->