<!-- Start Features Area -->
<section class="ulv__features-area position-relative">
        <span class="ulv__feature-area-shep position-absolute">
            <img src="assets/images/bg/features-1.png" alt="UnlockLive">
        </span>
    <div class="ulv__container">
        <div class="ulv__features-wrapper">
            <div class="ulv__features-item" data-cue="slideInUp">
                <span class="icon">
                    <img src="assets/images/icons/features-1.svg" alt="UnlockLive">
                </span>
                <h6 class="ulv__features-title">Outdoor shoot</h6>
                <p class="ulv__features-content">captures All of Your beautiful
                    memories shoot</p>

            </div>
            <div class="ulv__features-item" data-cue="slideInUp">
                <span class="icon">
                    <img src="assets/images/icons/features-2.svg" alt="UnlockLive">
                </span>
                <h6 class="ulv__features-title">wedding Shoot</h6>
                <p class="ulv__features-content">captures All of Your beautiful
                    memories shoot</p>

            </div>
            <div class="ulv__features-item" data-cue="slideInUp">
                <span class="icon">
                    <img src="assets/images/icons/features-3.svg" alt="UnlockLive">
                </span>
                <h6 class="ulv__features-title">Personal Shoot</h6>
                <p class="ulv__features-content">captures All of Your beautiful
                    memories shoot</p>

            </div>
        </div>
    </div>
    <div class="ulv__features-video" data-cue="zoomOut">
        <span class="ulv__feature-video-shep position-absolute">
            <img src="assets/images/bg/features-2.png" alt="UnlockLive">
        </span>
        <div class="ulv__video-button">
            <a href="https://www.youtube.com/watch?v=sfmaJTwFP24" class="video-play-icon">
                <i class="fa-solid fa-play"></i>
            </a>
        </div>
        <div class="ulv__video-content">
            <p class="ulv__video-sub-title text-uppercase position-relative">Photographyg</p>
            <h5 class="ulv__video-title text-uppercase">Explore Photo graphy</h5>
        </div>
    </div>
</section>
<!-- End Features Area -->
