<!-- Start Footer Area -->
<footer class="ulv__footer-area">
    <div class="ulv__footer-content" data-background="assets/images/bg/footer-bg.png">
    <div class="ulv__container4">
        <div class="ulv__footer-wrapper">
            <div class="ulv__footer-logo" data-cue="zoomIn">
                <a href="#" class="ulv__logo">
                    <img src="assets/images/logo/logo.svg" alt="UnlockLive">
                </a>
                <p class="ulv__footer-text">GSAP, or the GreenSock Amation Platform services for valued clients.</p>
                <div class="ulv__footer-support">
                    <div class="ulv__footer-call-icon">
                        <span><i class="fa-regular fa-phone-volume"></i></span>
                    </div>
                    <div class="ulv__footer-call">
                        <a href="tel:1999888666">+1 999 888 666</a>
                        <span>call 24/7</span>
                    </div>
                </div>
                <div class="ulv__social-media">
                    <span class="ulv__social-media-text">Follow on:</span>
                    <div class="ulv__social-media-wrap">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="ulv__footer-menu" data-cue="zoomIn">
                <div class="ulv__footer-titel-wrap">
                    <h6 class="ulv__footer-title">Useful Links</h6>
                </div>
                <ul>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Become A Designer</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul>
                    <li><a href="#">robust JavaScript.</a></li>
                    <li><a href="#">one-time support</a></li>
                    <li><a href="#">shield glass</a></li>
                    <li><a href="#">shield glass</a></li>
                    <li><a href="#">Vacation Design Project</a></li>
                </ul>
            </div>
            <div class="ulv__footer-insta" data-cue="zoomIn">
                <div class="ulv__footer-titel-wrap">
                    <h6 class="ulv__footer-title">instagram</h6>
                </div>
                <div class="ulv__footer-insta-img">
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/1.png" alt="UnlockLive">
                        <a href="assets/images/footer/11.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/2.png" alt="UnlockLive">
                        <a href="assets/images/footer/22.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/3.png" alt="UnlockLive">
                        <a href="assets/images/footer/33.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/4.png" alt="UnlockLive">
                        <a href="assets/images/footer/44.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/5.png" alt="UnlockLive">
                        <a href="assets/images/footer/55.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="ulv__footer-insta-item">
                        <img src="assets/images/footer/6.png" alt="UnlockLive">
                        <a href="assets/images/footer/66.png" class="ulv__popup-img ulv__insta-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="ulv__copyright">
        <div class="ulv__container4">
            <div class="ulv__copyright-wrapper">
                <div class="ulv__copyright-text">
                    <p>© Copyrights 2024 - <a href="#">UNLOCKLIVE</a> All rights reserved.</p>
                </div>
                <div class="ulv__copyright-img">
                    <img src="assets/images/footer/payment.png" alt="UnlockLive">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->