<header class="ulv__header">
    <div class="ulv__header-slicky">
        <div class="ulv__container">
            <div class="ulv__wrapper">
                <div class="logo">
                    <a href="#">
                        <img src="assets/images/logo/logo.svg" alt="UnlockLive">
                    </a>
                </div>
                <div class="ulv__menu">
                    <nav class="ulv__menu-area">
                        <ul class="text-uppercase">
                            <li class="ulv__dropdown">
                                <a href="#">Home</a>
                                <ul class="ulv__submenu-desktop">
                                    <li><a href="#">Home 1</a></li>
                                    <li><a href="#">Home 2</a></li>
                                    <li><a href="#">Home 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="ulv__header-button">
                    <a href="javascript:void(0)" class="ulv__search"><i class="fa-regular fa-magnifying-glass"></i></a>
                    <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                    <a href="javascript:void(0)" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>