<!-- Start Hero Area -->
<section class="ulv__hero-area position-relative" data-background="assets/images/bg/hero-bg.png">
    <span class="ulv__hero-shape1 position-absolute"><img src="assets/images/shape/hero-1.png" alt="UnlockLive"></span>
    <span class="ulv__hero-shape2 position-absolute">creative photography</span>
    <span class="ulv__hero-shape3 position-absolute"><img src="assets/images/shape/hero-5.png" alt="UnlockLive"></span>
    <span class="ulv__hero-shape4 position-absolute"><img src="assets/images/shape/hero-3.png" alt="UnlockLive"></span>
    <span class="ulv__hero-shape5 position-absolute"><img src="assets/images/shape/hero-4.png" alt="UnlockLive"></span>
    <span class="ulv__hero-shape6 position-absolute"><img src="assets/images/shape/hero-2.png" alt="UnlockLive"></span>
    <div class="ulv__container">
        <div class="ulv__hero-wrapper text-center">
            <p class="hero-sub-title text-center text-uppercase position-relative" data-cue="bounceInDown"><span>photography</span></p>
            <h1 class="hero-title text-capitalize text-center text-anim" data-cue="slideInLeft">capture your best <span>memories</span></h1>
        </div>
        <div class="ulv__hero-slide-wrapper">
            <div class="custom-cursor text-uppercase">Drag</div>
            <div class="ulv__hero-slide-inner">
                <div class="swiper ulv__hero">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/1.png" alt="UnlockLive">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/2.png" alt="UnlockLive">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/3.png" alt="UnlockLive">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/1.png" alt="UnlockLive">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/2.png" alt="UnlockLive">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ulv__hero-img">
                                <img src="assets/images/banner/3.png" alt="UnlockLive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ulv__hero-bottom-text text-center">
            <h1 class="text-uppercase">forest green</h1>
        </div>
    </div>
</section>
<!-- End Hero Area -->