<!-- Start Mobile Menu -->
  <div class="ulv__mobile-menu">
    <div class="ulv__menu-header">
      <div class="ulv__logo">
        <a href="index.html">
          <img src="assets/images/logo/logo.svg" alt="UnlockLive">
        </a>
      </div>
      <button class="ulv__close-btn"><i class="fa-sharp fa-light fa-xmark"></i></button>
    </div>
    <nav>
      <ul class="ulv__nav-list">
        <li class="ulv__nav-item">
          <a href="#" class="ulv__nav-link" onclick="return false;">
            Home
            <span class="ulv__toggle-btn"></span>
          </a>
          <ul class="ulv__submenu">
            <li class="ulv__submenu-item"><a href="#" class="ulv__submenu-link">Home One</a></li>
            <li class="ulv__submenu-item"><a href="#" class="ulv__submenu-link">Home Two</a></li>
            <li class="ulv__submenu-item"><a href="#" class="ulv__submenu-link">Home Three</a></li>
          </ul>
        </li>
        <li class="ulv__nav-item">
          <a href="about.html" class="ulv__nav-link">About</a>
        </li>
        <li class="ulv__nav-item">
          <a href="about.html" class="ulv__nav-link">Work</a>
        </li>
        <li class="ulv__nav-item">
          <a href="about.html" class="ulv__nav-link">Pages</a>
        </li>
        <li class="ulv__nav-item">
          <a href="about.html" class="ulv__nav-link">Blog</a>
        </li>
        <li class="ulv__nav-item">
          <a href="about.html" class="ulv__nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-social-media">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="ulv__mobile-menu-copyright">
      <p class="ulv__mobile-menu-copyright-text">© 2025 <a href="#">UnlockLive</a> . All Rights Reserved.</p>
    </div>
  </div>
  <!-- End Mobile Menu -->

  <!-- Start Overlay Add -->
  <div class="ulv__overlay"></div>
  <!-- End Overlay Add -->