<!-- Start Pricing Area -->
<section class="ulv__pricing-area ulv__space overflow-hidden">
    <span class="ulv__pricing-shape1 position-absolute"><img src="assets/images/shape/pricing-1.png" alt="UnlockLive"></span>
    <span class="ulv__pricing-shape2 position-absolute"><img src="assets/images/bg/pricing-bg-2.png" alt="UnlockLive"></span>
    <span class="ulv__pricing-shape3 position-absolute"><img src="assets/images/bg/pricing-bg-1.png" alt="UnlockLive"></span>
    <div class="ulv__container">
        <div class="ulv__title-wrap ulv__pricing-title-wrap">
            <div class="ulv__sub-title-wrap text-center">
                <p class="ulv__sub-title text-uppercase text-anim2" data-cue="slideInLeft">pricing plan</p>
            </div>
            <div class="ulv__main-title-wrap ulv__title-width text-center">
                <h3 class="ulv__title text-uppercase text-anim" data-cue="slideInRight">what we offer you</h3>
            </div>
        </div>
    </div>
    <div class="ulv__pricing-wrapper overflow-hidden">
        <div class="ulv__container2">
            <div class="ulv__horizontal-scoll-wrapper">
                <div class="ulv__horizontal-scoll-inner">
                    <div class="ulv__pricing-inner">
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">wedding plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$650/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content gsap-parallax">
                                <img src="assets/images/pricing/1.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/11.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">outdoor plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$850/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content">
                                <img src="assets/images/pricing/2.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/22.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">fashion plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$450/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content">
                                <img src="assets/images/pricing/3.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/33.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">wedding plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$650/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content">
                                <img src="assets/images/pricing/4.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/44.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">outdoor plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$850/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content">
                                <img src="assets/images/pricing/5.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/55.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                        <div class="ulv__pricing-item" data-cue="zoomIn">
                            <div class="ulv__pricing-text-content">
                                <h4 class="ulv__pricing-title text-capitalize">fashion plan</h4>
                                <div class="ulv__checklist-style1">
                                    <ul>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>3 Hours on Location</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>60 High Resolution Images</span>
                                        </li>
                                        <li>
                                            <img src="assets/images/icons/checklisth-style-1.svg" alt="UnlockLive">
                                            <span>90 Images</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ulv__pricing-btn-wrap">
                                    <h3 class="ulv__price">$450/ <span class="ulv__price-type text-uppercase">session</span></h3>
                                    <div class="ulv__pricing-btn-inner">
                                        <a href="#" class="ulv__primary-btn text-uppercase position-relative">Let's talk <i class="fa-regular fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ulv__pricing-img-content">
                                <img src="assets/images/pricing/6.png" alt="UnlockLive" class="ulv__pricing-thumb-desktop">
                                <img src="assets/images/pricing/66.png" alt="UnlockLive" class="ulv__pricing-thumb-mobile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include("brand-logo.html")
</section>
<!-- End Pricing Area -->

