<section class="ulv__text-slider-area" data-cue="zoomOut">
    <div class="ulv__text-slider-wrap">
        <div class="swiper ulv__text-sliding">
            <div class="swiper-wrapper ulv__slide-transtion">
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ulv__text-slider-content">
                        <a href="#">
                            <span class="text-lowercase">CREATIVE AGENCY</span>
                            <span><img src="assets/images/icons/star.png" alt="UnlockLive"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>